cmake-build-debug
cmake-build-debug/*

cmake-build-release
cmake-build-release/*

*.mkv

3rdParty/opencv-mvsc/*
3rdParty/opencv-mvsc

3rdParty/onnxruntime-win-x64-1.20.1/*
3rdParty/onnxruntime-win-x64-1.20.1

3rdParty/onnxruntime-win-x64-gpu-1.20.1/*
3rdParty/onnxruntime-win-x64-gpu-1.20.1

CMakeLists.txt